/*
.lapp{
    padding-top: 1%;
    color: grey;
}
.blockDiv{
    width: 100%;
    font-size : 23%;
    color: lightgray;
    background-color: lightgray;
}
.table{
    padding-top: 2%;
   !*
   font-size: 65%;
   *!

}
.ant-table-thead > tr:first-child> th {
    background-color: white;
    font-weight: bolder;
}

.ant-table table {
    font-family: cursive;
}
.ant-table-thead > tr:first-child > th {
  border-top-left-radius: 4px;
  background: none;
  color: white;
}
.ant-table-tbody{
  color: white;
}*/
