

body {
  margin: 0;
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 300;
  margin: 16px 0;
}

hr {
  border: none;
  border-bottom: solid 1px #ccc;
  margin: 0;
}



  .headerLight {

    display: flex;
    align-items: center;
    background-image: linear-gradient(white, gray);
    background-size: cover;
    background-position: center;
    height: 480px;
    width: 300px;
    background-attachment: fixed;

    & .button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      border: solid 1px transparent;
      color: #000000;
      height: 40px;
      margin: 0 0.25%;
      transition: border 0.5s;
      cursor: default;
      width: 100%;
      font-size: 14px;
      background: none;
      margin-bottom: 130px;

      &.button:hover {
        border: solid 1px #000000;
      }
    }


    & ::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    & .timeRecordsContainer {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin-bottom: 16px;
      overflow: auto;
    }

    & .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 215px;
    }

    & .container {
      padding-top: 120px;
      max-width: 800px;
      width: 60%;
      height: 132%;
      margin: 0 auto;
      display: flex;
      flex-flow: column;
      position: relative;
      align-items: center;
      justify-content: center;

    }
    & .sDisplay {
      width: 140px;
      height: 140px;
      border-radius: 157px;
      border: 3px solid #000000;
      justify-content: center;
      display: flex;
      align-items: center;
      color: #000000;
      text-align: center;
      margin: auto;

    }
    .lapp{
      padding-top: 0;
      color: #000000;
    }
    .blockDiv{
      width: 100%;
      font-size : 13%;
      color: #000000;
      background-color: #000000;
    }
    .table{
      padding-top: 2%;

    }
    .ant-table-thead > tr:first-child> th {
      background-color: #000000;
      font-weight: bolder;
    }

    .ant-table table {
      font-family: cursive;
    }
    .ant-table-thead > tr:first-child > th {
      border-top-left-radius: 4px;
      background: none;
      color: #000000;
      font-size: 10px;
    }
    .ant-table-tbody{
      color: #000000;
      font-size: 14px;
    }


    .anticon svg{
      color: black;
    }
    .font{
      font-size: 13px;
      width: 113px;
    }


  }

.headerDark {
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url('http://res.cloudinary.com/iclusterdev/image/upload/v1502819186/background_hhf6c0.png');
  background-size: cover;
  background-position: center;
  height: 480px;
  width: 300px;
  background-attachment: fixed;

  & .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    border: solid 1px transparent;
    color: #ffffff;
    height: 40px;
    margin: 0 0.25%;
    transition: border 0.5s;
    cursor: default;
    width: 100%;
    font-size: 14px;
    background: none;
    margin-bottom: 130px;

    &.button:hover {
      border: solid 1px #fff;
    }
  }


  & ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  & .timeRecordsContainer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 16px;
    overflow: auto;
  }

  & .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 215px;
  }

  & .container {
    padding-top: 120px;
    max-width: 800px;
    width: 60%;
    height: 132%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    justify-content: center;

  }
  & .sDisplay {
    width: 140px;
    height: 140px;
    border-radius: 157px;
    border: 3px solid #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-align: center;
    margin: auto;

  }
  .lapp{
    padding-top: 0;
    color: #ffffff;
  }
  .blockDiv{
    width: 100%;
    font-size : 13%;
    color: #ffffff;
    background-color: #ffffff;
  }
  .table{
    padding-top: 2%;

  }
  .ant-table-thead > tr:first-child> th {
    background-color: #ffffff;
    font-weight: bolder;
  }

  .ant-table table {
    font-family: cursive;
  }
  .ant-table-thead > tr:first-child > th {
    border-top-left-radius: 4px;
    background: none;
    color: #ffffff;
    font-size: 10px;
  }
  .ant-table-tbody{
    color: #ffffff;
    font-size: 14px;
  }


  .anticon svg{
    color: white;
  }
  .font{
    font-size: 13px;
    width: 113px;
  }
}

.headernew {
  display: flex;
  align-items: center;
  background-image: linear-gradient(#0f0c29, #302b63,#24243e),
  url('http://res.cloudinary.com/iclusterdev/image/upload/v1502819186/background_hhf6c0.png');
  background-size: cover;
  background-position: center;
  height: 480px;
  width: 300px;
  background-attachment: fixed;

  & .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    border: solid 1px transparent;
    color: #ffffff;
    height: 40px;
    margin: 0 0.25%;
    transition: border 0.5s;
    cursor: default;
    width: 100%;
    font-size: 14px;
    background: none;
    margin-bottom: 130px;

    &.button:hover {
      border: solid 1px #fff;
    }
  }


  & ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  & .timeRecordsContainer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 16px;
    overflow: auto;
  }

  & .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 215px;
  }

  & .container {
    padding-top: 120px;
    max-width: 800px;
    width: 60%;
    height: 132%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    justify-content: center;

  }
  & .sDisplay {

    height: 140px;

    justify-content: center;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-align: center;
    margin: auto;

  }
  .lapp{
    padding-top: 0;
    color: #ffffff;
  }
  .blockDiv{
    width: 100%;
    font-size : 13%;
    color: #ffffff;
    background-color: #ffffff;
  }
  .table{
    padding-top: 2%;
  }
  .ant-table-thead > tr:first-child> th {
    background-color: #ffffff;
    font-weight: bolder;
  }

  .ant-table table {
    font-family: cursive;
  }
  .ant-table-thead > tr:first-child > th {
    border-top-left-radius: 4px;
    background: none;
    color: #ffffff;
    font-size: 10px;
  }
  .ant-table-tbody{
    color: #ffffff;
    font-size: 14px;
  }

  .anticon svg{
    color: white;
  }

  .font{
    font-size: 21px;

  }
}


  .main-div{

    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;


  }
.container {
  height: 100px;
  & .ant-card-body {
    padding: 0 !important;
  }

  & .ant-card-head-title{
    margin-right: 0 !important;
  }
}





